body
  background #b40202
  color white

ng-view
	position relative

.logo
	position abosulte
	width 40%
	top 30%
	left 10%
	display block

#form
	position absolute
	width 30%
	height 20%
	top 27%
	right 10%
	border 2px solid white
	border-radius 10px
	padding 3% 0
	text-align center
	box-shadow #fff 0px 0px 20px
	background white

#menu_log
	float left
	list-style none
	li
		float left
		padding 2px 5px
		color #b40202
		border-right 1px solid #b40202
		font-size 1em
		cursor pointer
	li:hover
		background #b40202
		color white

.last
	border none!important