<!-- Cabecera de la web -->
<header>
	<div id="menu"><i class="fa fa-bars" aria-hidden="true" ng-click="app.showMenu()"></i></div>
	<div class="logo-header"><a ng-href="/home"><img height="35px" src="/img/logo.png"></a></div>
	<profileweb></profileweb>
	<div id="logout"><i class="fa fa-sign-out" aria-hidden="true" ng-click="app.logout()"></i></div>
	<div id="lang">
		<i class="fa fa-globe" aria-hidden="true" ng-click="app.showLang()"></i> <span>{{app.language}}</span>
		<ul id="langmen">
			<li ng-click="app.changeLang('es')">Español</li>
			<li ng-click="app.changeLang('en')">English</li>
		</ul>
	</div>
	<div id="search">
		<label><input class="searchinput" type="text" ng-model="search" placeholder="{{app.translation.common.search}}"><i class="fa fa-search" aria-hidden="true" ng-click="app.search(search)"></i></label>
	</div>
</header>
<menuweb></menuweb>
<div id="profile">
	<div class="dbgimg">
		<i class="fa fa-upload bgimgc" aria-hidden="true"></i>
		<input class="bgimgi" accept="image/*" name="bgimg" type="file" ng-file-select="bandsnew.onFileSelect($files,'bgimg')" required>
		<img class="bgimg" src="http://bandmeter.com/uploads/{{bandsnew.band.imageBand}}" alt="{{bandsnew.band.name}}">
		<div id="dbimgloading" ng-show="bandsnew.dbimgloading"></div>
	</div>
	<div class="dprofimg">
		<i class="profimgc fa fa-upload" aria-hidden="true"></i>
		<input class="profimgi" accept="image/*" name="bandimg" type="file" ng-file-select="bandsnew.onFileSelect($files,'profimg')" required>
		<img class="profimg" src="http://bandmeter.com/uploads/{{bandsnew.band.logo}}" alt="{{bandsnew.band.name}}">
		<div id="dprogimgloading" ng-show="bandsnew.dprogimgloading"></div>
	</div>
	<div id="datos">
		<div class="fleft">
			<div id="profnick">
				<input type="text" name="name" id="nameInput" value="{{bandsnew.band.name}}" placeholder="{{app.translation.edit.name_placeholder}}">
			</div>
			<div id="proffull">
				<input type="text" name="style" id="styleInput" value="{{bandsnew.band.style}}" placeholder="{{app.translation.edit.style_placeholder}}">
			</div>
		</div>
		<br clear="all">
		<div class="bottom">
			<div class="members">
				<h3>{{app.translation.edit.members}}</h3>
			</div>
			<br clear="all">
			<div id="saveProfile" class="button" ng-click="editprofile.update()">{{app.translation.common.save}}</div>
		</div>
	</div>
</div>